#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f8f8;
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  display: flex;
}

#nav-bar li {
  padding: 13px;
  text-align: center;
  align-items: center;
}


#right-bar {
    
  right: 78px;
  position: absolute;
}
