#profile {
  display: flex;
  position: relative;
  background-color: aquamarine;

}

.avatar {
  width: 25vw;
  display: block;
  background-color: rgb(236, 255, 127);
  text-align: center;
  margin-left: 25vw;
}
img {
  width: 35%;
  border-radius: 50%;
  border: 1px black solid;
  padding: 1px;
  margin: 10px;
  background-color: rgb(0, 0, 0);
}

.user-name {
  margin: 20px;
  font-weight: bold;
  font-size: large;
}

.user-information {
  
  list-style: none;
  width: 25vw;
  font-size: 15px;
  background-color: rgb(236, 255, 127);
  height: 100%;

}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 16px;
}
.ant-input{
  border-radius: 16px;
}

.ant-select-selector{
border-radius: 16px !important;
}

.user-information li:nth-child(n) {
  margin-left: 15%;

  margin: 30px;
}

#account-information{

  list-style: none;
  border-left: 1px solid;
}
#account-information li{
  margin-left: 30px;
  
}

