::-webkit-scrollbar {
    width: 8px;
  }
   
  ::-webkit-scrollbar-track {
    background-color: #aaa;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #335ddc;
    border-radius: 8px;
  }
  
  body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  }
  .chosez{
    margin: 0px 200px;
  }
  .signup-page {
    display: flex;
    min-height: 100vh;

    background: #d9edff;
   
  }
  .form{
      margin:auto;
      text-align: center;
  }
  .dob{
    width: 300px;
  }
  .signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
  }
  .validationText {
    margin: "0px";
    font-size: "1em";
    color: "red";
  }
  .validContainer{
    height: "20px";
  }
  .reg1{
    width:200px;
  }
  
  #signup-form {
  
    flex: 1 0 100%;
    max-width: 60%;
    text-align: center;
    width: 100%;
    display: inline;
   padding :100px;
  }
  #signupz-form {
  
    flex: 1 0 100%;
    max-width: 60%;
    text-align: center;
    width: 100%;
    display: none;
   padding :100px;
  }
 
  #signup-form p {
    margin-bottom: 30px;
  }
  .form-title {
    color: #333333;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
  }
  #signup-form .ant-form-item-label > label.ant-form-item-required::before {
    display: none;
  }
  .ant-form-item-control-input-content {
    text-align: left;
  }
  #signup-form .ant-input-affix-wrapper {
    padding: 12px 15px;
  }
  #signup-form_username, #signup-form_lastname, #signup-form_fistname,#signup-form_phone {
    height: 48px;
  }

  #signup-form .ant-btn {
    height: 42px;
    letter-spacing: 1px;
    border-radius: 6px;
  }
  .signup-form-button {
    width: 100%;
  }
  .ant-form{
    width:500px;
  }
  .illustration-wrapper {
    display: flex;
    align-items: flex-end;
    min-width: 40%;
    min-height: 100%;
    background-color: #fffdf2;
  }
  .illustration-wrapper img {
    display: block;
    width: 100%;
  }
  @media screen and (max-width: 1023px) {
    .signup-box {
      flex-direction: column;
      box-shadow: none;
    }
    .illustration-wrapper {
      max-width: 100%;
      min-height: auto;
    }
    #signup-form {
      max-width: 100%;
    }
  }
  